.recent-orders-card{

background:white;

padding:25px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

margin-top:35px;

overflow-x:auto;

}

.recent-orders-card h2{

font-size:30px;

margin-bottom:25px;

}

.recent-orders-table{

width:100%;

border-collapse:collapse;

}

.recent-orders-table th{

padding:18px;

text-align:left;

font-size:17px;

background:#f6f8fb;

}

.recent-orders-table td{

padding:18px;

border-bottom:1px solid #eee;

}

.customer-box{

display:flex;

align-items:center;

gap:15px;

}

.customer-avatar{

width:45px;

height:45px;

border-radius:50%;

background:#6C63FF;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:bold;

font-size:18px;

}

.status{

padding:8px 18px;

border-radius:40px;

font-weight:bold;

font-size:14px;

}

.status.pending{

background:#FFF4CC;

color:#C58A00;

}

.status.delivered{

background:#DCFCE7;

color:#15803D;

}

.status.shipped{

background:#DBEAFE;

color:#1D4ED8;

}

.recent-orders-table tr:hover{

background:#fafafa;

transition:.3s;

}