.timelineCard{

background:white;

border-radius:22px;

padding:25px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

margin-top:25px;

}

.timelineHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.timelineHeader h2{

font-size:24px;

}

.timelineHeader span{

background:#dcfce7;

color:#16a34a;

padding:6px 14px;

border-radius:50px;

font-weight:700;

}

.timelineItem{

display:flex;

align-items:center;

gap:18px;

padding:18px 0;

border-bottom:1px solid #eee;

}

.timelineItem:last-child{

border:none;

}

.timelineIcon{

width:55px;

height:55px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

color:white;

}

.timelineContent{

flex:1;

}

.timelineContent h4{

margin-bottom:6px;

font-size:17px;

}

.timelineContent p{

color:#666;

font-size:14px;

}

.timelineItem small{

color:#999;

font-weight:600;

}