*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

.checkout_container{
width:100%;
background:#f6f7fb;
padding:40px 0;
}

.checkout_wrapper{
width:90%;
margin:auto;
display:flex;
gap:30px;
align-items:flex-start;
}

.checkout_left{
flex:2;
background:#fff;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.checkout_right{
flex:1;
background:#fff;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
position:sticky;
top:20px;
}

.checkout_left h2,
.checkout_right h2{
margin-bottom:25px;
}

.input_group{
margin-bottom:20px;
}

.input_group label{
display:block;
margin-bottom:8px;
font-weight:bold;
}

.input_box{
display:flex;
align-items:center;
border:1px solid #ddd;
border-radius:10px;
padding:12px;
gap:10px;
}

.input_box input{
width:100%;
border:none;
outline:none;
font-size:16px;
}

textarea,
.input_group>input{
width:100%;
padding:15px;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;
outline:none;
}

.shipping_cards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin:25px 0;
}

.ship_card{
border:1px solid #ddd;
padding:20px;
display:flex;
gap:15px;
border-radius:10px;
align-items:center;
}

.full{
grid-column:span 2;
background:#eefdf3;
}

.ship_card svg{
font-size:30px;
color:#0ea44b;
}

.confirm_btn{
width:100%;
padding:18px;
border:none;
background:#c8a45d;
color:#fff;
font-size:20px;
font-weight:bold;
border-radius:10px;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.confirm_btn:hover{
background:#b08b45;
}

.product{
display:flex;
gap:15px;
margin:20px 0;
}

.product img{
width:80px;
height:80px;
border-radius:10px;
object-fit:cover;
}

.price_row{
display:flex;
justify-content:space-between;
margin:20px 0;
font-size:18px;
}

.green{
color:#fcfefd;
}

.total{
font-size:24px;
font-weight:bold;
}

.info_box{
display:flex;
gap:15px;
margin-top:20px;
padding:18px;
background:#fafafa;
border-radius:10px;
align-items:flex-start;
}

.info_box svg{
font-size:24px;
color:#0ea44b;
}

@media(max-width:900px){

.checkout_wrapper{
flex-direction:column;
}

.checkout_right{
width:100%;
position:static;
}

.shipping_cards{
grid-template-columns:1fr;
}

.full{
grid-column:auto;
}

}